@import './common.scss';
body{
    background-color: white;
}


.top-menu-bg{
    background-color: #71c9ce;
}

.top-menu-color{
    color: rgb(26, 46, 47)
}

.title-primary-color{
    color: white
}


.primary-color{
    color: #2B4D4F
}

.title-primary-bg{
    background-color: #71c9ce;
}


.primary-bg{
    background-color: #e3fdfd;
}
.secondary-bg{
    background-color: #a6e3e9;
}


.messages-bg{
    background-color: #3f3f44;
    color: white;
}